# gradle files
.gradle
/bin/
/build/
/gradle/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Extras
.settings
.classpath
.project
.idea
.vscode
.DS_STORE
.class